
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<address>
    Varsity College<br />
    Durban North<br />
    <abbr title="Phone">Phone number:</abbr>
    0615085444
</address>

<address>
    <strong>University Contact: </strong> <a href="20102823@vcconnect.co.za">20102823@vcconnect.co.za</a><br />
    <strong>Personal Contact: </strong> <a href="stephan2000laas@gmail.com">stephan2000laas@gmail.com</a>
</address>

